@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: $font-src;
    font-display: swap;
  }
}

@mixin font($font-family, $font-size, $font-weight, $line-height, $color) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@mixin link {
  text-decoration: none;
  color: inherit;
}

@mixin button {
  @include font ($font-second, 16px, 400, 20px, #ffffff);
  text-transform: uppercase;
  background-color: $color-accent;
  padding-top: 10px;
  padding-bottom: 10px;
}
