.hero {
  background-color: $color-accent;
}

.hero__title {
  @include font($font-second, 36px, 400, 36px, $color-ligth);
  text-align: center;
  margin: 0;
}

.hero__slogan {
  @include font($font-second, 14px, 400, 14px, $color-ligth);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
