.main-nav__burger-menu {
  background-color: #ffffff;
  background-image: url("../../icons/stack.svg#close-burger-menu");
  background-position: 50%;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  border: none;
  padding: 0;
}
